.loginClass {
    -fx-background-size: 1200 900;
    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 0 0 18 18;
    -fx-background-color: #FC3D44;
 }
 .loginRightVBox {
    -fx-border-color: #33364d;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-background-color: #33364d;
}
.loginLeftVBox{
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-background-color: #ffffff;
}
.loginLogo{
	float: left;
	margin-left: 0px 0px 0px 30px;
	width: 150px;
	height: 38px;
}
.jfxTextField, .jfxPasswordField {
	-fx-border-color: #33364d;
    -fx-prompt-text-fill: #33364d;
    -jfx-focus-color: #33364d;;
    -jfx-unfocus-color: #33364d;;
    -fx-text-inner-color: #33364d;
    -fx-background-color: #ffffff;
	-fx-border-radius: 20px;
    -fx-background-radius: 20 20 20 20;
	-fx-padding: 0.333333em 1em 0.333333em 1em;
	-fx-translate-y: 0px;
}
.jfxCheckBox{
	-fx-border-color: #33364d;
    -fx-prompt-text-fill: #33364d;
    -jfx-focus-color: #ffffff;
    -jfx-unfocus-color: #ffffff;
    -fx-text-inner-color: #33364d;
    -fx-background-color: #ffffff;
}
.jfxButton {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#ffffff 0%, #ffffff 20%, #ffffff 100%),
        linear-gradient(#ffffff, #ffffff),
        radial-gradient(center 50% 0%, radius 100%, ffffff, ffffff);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
}