.loginClass {
    -fx-background-size: 1200 900;
    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 0 0 18 18;
    -fx-background-color: #FC3D44;
 }
 .loginRightVBox {
    -fx-border-color: #33364d;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-background-color: #33364d;
}
.loginLeftVBox{
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-background-color: #ffffff;
}
.loginLogo{
	float: left;
	margin-left: 0px 0px 0px 30px;
	width: 150px;
	height: 38px;
}
.jfxTextField, .jfxPasswordField {
	-fx-border-color: #33364d;
    -fx-prompt-text-fill: #33364d;
    -jfx-focus-color: #33364d;;
    -jfx-unfocus-color: #33364d;;
    -fx-text-inner-color: #33364d;
    -fx-background-color: #ffffff;
	-fx-border-radius: 20px;
    -fx-background-radius: 20 20 20 20;
	-fx-padding: 0.333333em 1em 0.333333em 1em;
	-fx-translate-y: 0px;
}

.jfxCheckBox{
	-fx-border-color: #33364d;
    -fx-prompt-text-fill: #33364d;
    -jfx-focus-color: #ffffff;
    -jfx-unfocus-color: #ffffff;
    -fx-text-inner-color: #33364d;
    -fx-background-color: #ffffff;
}
.jfxButton {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#ffffff 0%, #ffffff 20%, #ffffff 100%),
        linear-gradient(#ffffff, #ffffff),
        radial-gradient(center 50% 0%, radius 100%, ffffff, ffffff);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
}

.tab-pane>*.tab-header-area>*.tab-header-background
{
   -fx-background-color: -fx-outer-border, -fx-text-box-border, white;
}

.jfx-tab-pane .control-buttons-tab .tab-down-button{
    -fx-background-color: #ffffff;
}
/* Modify the background color of the Pane area of TabPane */
.tab-pane {
    -fx-background-color: white;
}
.tab-background{
    -fx-background-color: white;
}
/* Modify the background color of Tab */
.tab {
   -fx-background-color: white;
   -fx-text-fill: black;
}
/* Modify the background color of the top bar */
.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, #333333;
}
/* Modify the color of the text in the tab */
.tab-label {
    -fx-text-fill: #e6e6e6;
}
/* Child selector, select the child element tab-label when Tab is selected */
.tab:selected .tab-label {
    -fx-text-fill: #003333ff;
}
/* Set the background color when the tab is selected */
.tab:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
/* When Tab is selected, select its border and modify the style */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #4d1a4dff;
    -fx-background-color: white;
}


/* added from me */
.choice-box .label {
    -fx-text-fill: black;
}

.jfx-tab-pane .tab-selected-line{
    -fx-border-color: #00cdcd;
}

.tab-header-background{
    -fx-background-color: white;
}

.jfx-tab-pane .control-buttons-tab{
    -fx-background-color: #473c8b ;
}
.jfx-tab-pane .control-buttons-tab .tab-down-button{
    -fx-background-color: #00c5cd;
}
.jfx-tab-pane .control-buttons-tab .jfx-rippler{
    -jfx-rippler-fill: #00868b;
}